@model List<About>

@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}

<!--About-->

    <div class="about" id="About">
      <h1>Web<span>About</span></h1>
      
      @foreach (var item in Model)
      {
        <div class="about_main">
          <div class="about_image">
            <div class="about_small_image">
              <img src="@item.AboutImage1" onclick="functio(this)" />
              <img src="@item.AboutImage2" onclick="functio(this)" />
              <img src="@item.AboutImage3" onclick="functio(this)" />
              <img src="@item.AboutImage4" onclick="functio(this)" />
            </div>

            <div class="image_contaner">
               <img src="@item.AboutMainImage" id="imagebox"/>
              @* <img src="~/Shoes-Website/image/red_shoes1.png" id="imagebox"/> *@
            </div>
          </div>

          <div class="about_text">
            <p>
             @item.AboutDescription
            </p>
          </div>
        </div>
      }
      
      <a href="#" class="about_btn">Shop Now</a>

      <script>
        function functio(small) {
          var full = document.getElementById("imagebox");
          full.src = small.src;
        }
      </script>
    </div>